<% provide(:title, "About") %>
<h1>About</h1>
<p>
  The <a href="http://etf.one/"><em>ETF.One</em></a> is a
  <a href="http://etf.one/">Fund</a> and
  <a href="http://etf.one/">Trading platform</a>
  to invest with Crypto Currency easily.
</p>