<h3>Account Summary</h3>
<table class="table table-bordered">
    <thead>
      <tr>
        <th>Asset</th>
        <th>Amount</th>
        <th>Address</th>
      </tr>
    </thead>
    <tbody>
      <% ListingAsset.all.each do |a| %>
      <tr>
        <td><%= a.name %></td>
        <td><%= @assets[a.name] || 0  %></td>
        <td>Address</td>
      </tr>
      <% end %>
      
    </tbody>
  </table>
