<h1>Account Summary</h1>
<table class="table table-hover">
    <thead>
      <tr>
        <th>Asset</th>
        <th>Amount</th>
      </tr>
    </thead>
    <tbody>
      <% Rails.configuration.listing_assets.each do |a| %>
      <tr>
        <td><%= a['symbol'] %></td>
        <td><%= @assets[a['symbol']] || 0  %></td>
      </tr>
      <% end %>
      
    </tbody>
  </table>
