<footer class="footer">
  <small>
    The <a href="http://www.etf.one/">ETF-One</a>
    by <a href="http://kidylee.com/">Li An</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
    </ul>
  </nav>
</footer>