<% if notice %>
	<div class='alert alert-success'>
		<%= notice %>
	</div>
<% end %>

<% if alert %>
	<% if alert.kind_of?(Array) %>
		<% alert.each do |msg| %>
      		<div class='alert alert-danger'>
			<%= msg %>
	  	</div>
    <% end %>
    	<%= alert %>
	<% else %>
	
	<% end %>





<% end %>